[Unit]
Description=AMS publisher
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ams-publisherd
KillMode=process
User=nagios
Group=nagios
StandardError=syslog

[Install]
WantedBy=multi-user.target
