[Unit]
Description=Nagios AMS publisher
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ams-publisherd
KillMode=process
User=nagios
Group=nagios
SyslogIdentifier=ams-publisher
StandardError=syslog
RuntimeDirectory=argo-nagios-ams-publisher

[Install]
WantedBy=multi-user.target
