include config/*
include bin/*
include pymod/*
include init/ams-publisher-nagios.service
include init/ams-publisher-sensu.service
include ams-publisher.spec
include setup.py

recursive-exclude pymodule *.pyc *.pyo
